---
version: "3"

networks:
  proxy:
    external: true

services:
  oauth2-proxy:
    image: {{ oauth2_proxy_container_image }}:{{ oauth2_proxy_container_version }}
    restart: unless-stopped
    env_file: env
    networks:
      - proxy