{% if static_htpasswd_contents.rc == 0 %}
{{ static_htpasswd_contents.stdout }}
{%endif %}
{% for client in groups['backup_clients'] %}
{{ hostvars[client].ansible_facts.ansible_local.backupuser_htpasswds.backupuser_htpasswds.pw1 }}
{% endfor %}
