{{ ansible_managed | comment }}

[Unit]
Description=Restic-REST daemon
After=network.target network-online.target systemd-networkd.service NetworkManager.service connman.service

[Service]
ExecStart=/usr/local/bin/rest-server {{ restic_rest_flags }} {% if restic_rest_allowoverwrites is undefined %}--append-only{% endif %} --path {{ restic_rest_backupstorage|quote }} --tls --tls-cert {{ certificate_file | quote }} --tls-key {{ certificate_private_key_file | quote }}
Restart=always
RestartSec=5
User=restic-service
Group=restic-service
# To be able to read our ssl key in /etc/ssl/private/
SupplementaryGroups=ssl-cert
ReadOnlyPaths="/etc/"
ReadWritePaths="{{ restic_rest_backupstorage }}"

## <COPYRIGHT_NOTICE> The following was taken from the systemd-example in restic-rest,
## commits  a994d347 examples/systemd/rest-server.service (Andreas Olsson    2020-09-13 14:04:21 +0200 39)
## and      8a1535ba examples/systemd/rest-server.service (Tim Small         2021-05-31 11:39:29 +0100 33)
## and      4967dcbf examples/systemd/rest-server.service (Tim Small         2021-05-31 11:40:11 +0100 70)

# Makes created files group-readable, but inaccessible by others
UMask=027

# If your system doesn't support all of the features below (e.g. because of
# the use of an older version of systemd), you may wish to comment-out
# some of the lines below as appropriate.
CapabilityBoundingSet=
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=true
PrivateUsers=true
ProtectSystem=strict
ProtectHome=yes
ProtectClock=true
ProtectControlGroups=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectHostname=true
RemoveIPC=true
RestrictNamespaces=true
RestrictAddressFamilies=AF_INET AF_INET6
RestrictSUIDSGID=true
RestrictRealtime=true
SystemCallArchitectures=native
SystemCallFilter=@system-service

# Additionally, you may wish to use some of the systemd options documented in
# systemd.resource-control(5) to limit the CPU, memory, file-system I/O and
# network I/O that the rest-server is permitted to consume according to the
# individual requirements of your installation.
#CPUQuota=25%
#MemoryMax=bytes
#MemorySwapMax=bytes
#TasksMax=N
#IOReadBandwidthMax=device bytes
#IOWriteBandwidthMax=device bytes
#IOReadIOPSMax=device IOPS, IOWriteIOPSMax=device IOPS
#IPAccounting=true
#IPAddressAllow=

## </COPYRIGHT_NOTICE>

[Install]
WantedBy=multi-user.target
