{#- Tulsky V.A. 2023-2024 -#}
{% extends 'base.html' %}
{% block body %}
            <section class="section">
                <div class="container">
                    <h1 class="title">
                        Welcome to the RPS navigation page!
                    </h1>
                </div>
                <br>
                <div> 
                    <p class="title">
                        General services:
                    </p>
                </div>
                <br>
                <div class="columns is-multiline">
                    {% for service in services if service.scope in ["general"] -%}
                        {%+ include 'service_card.html' +%}
                    {%- endfor %}
                </div>
                <div> 
                    <p class="title">
                        Admin services:
                    </p>
                </div>
                <br>
                <div class="columns is-multiline">
                    {% for service in services if service.scope in ["admin"] -%}
                        {%+ include 'service_card.html' +%}
                    {%- endfor %}
                </div>
            </section>
{% endblock %}