{{ ansible_managed | comment }}

RESTIC_CONFIG_NAME="{{ item.name }}"
RESTIC_REPOSITORY_FILE="/etc/restic/passwords/{{ restic_backup_url_hostport | b64encode }}.repos"
{% if item.database_dump_command is undefined %}
RESTIC_DIRECTORIES="{{ item.directories|quote }}"
{% endif %}
RESTIC_FLAGS="--cacert /etc/ssl/certs/restic-server-certs.pem {{ item.flags|quote|default('') }}"

RESTIC_PASSWORD_FILE="/etc/restic/repositories/{{ item.repository }}.key"

