{{ ansible_managed | comment }}

RESTIC_CONFIG_NAME="{{ item.name }}"
RESTIC_REPOSITORY="{{ restic_backup_url|quote}}{{ item.repository|quote }}"
{% if item.database_dump_command is undefined %}
RESTIC_DIRECTORIES="{{ item.directories|quote }}"
{% endif %}
RESTIC_FLAGS="{{ item.flags|quote|default('') }}"

RESTIC_PASSWORD_FILE="/etc/restic/repositories/{{ item.repository }}.key"

