{{ ansible_managed | comment }}
[Unit]
Description=Daily restic backup run for directory %I

[Timer]
OnCalendar=*-*-* *:*
#RandomizedDelaySec=12h
Persistent=true
Unit=restic-backup-oneshot@%i.service

[Install]
WantedBy=timers.target
