.mx_QuickSettingsButton:before {
    background: var(--sidebar-button-background) !important;
 }
.mx_QuickSettingsButton:not(.expanded):hover {
background-color: var(--roomlist-background-color-15pct) !important
}

 .mx_SpacePanel .mx_SpaceButton.mx_SpaceButton_new .mx_SpaceButton_icon:before {
    background-color: #dedede !important;
}
 
.mx_RoomSearch:hover {
    background-color: var(--tertiary-content,#0f2d6433) !important;
}

.mx_RoomSearch:hover .mx_RoomSearch_icon, .mx_RoomSearch:hover .mx_RoomSearch_spotlightTriggerText ,.mx_LeftPanel .mx_LeftPanel_roomListContainer .mx_LeftPanel_filterContainer .mx_LeftPanel_exploreButton:hover , .mx_RoomSummaryCard .mx_RoomSummaryCard_aboutGroup .mx_RoomSummaryCard_Button:before{
    background-color: var(--accent-color) !important;
}
.mx_QuickSettingsButton_ContextMenuWrapper .mx_ContextualMenu>div>h4{
  color: var(--primary-color) !important;
}
.mx_ToggleSwitch_on >.mx_ToggleSwitch_ball {
  background-color: #ffffff !important;
}
 
.mx_EventTile[data-layout=group] .mx_ReplyChain {
    background-color: var(--cpd-color-alpha-gray-300) !important;
    padding: 10px;
    border-radius: 0px 7px 7px 0px !important;
}
.mx_BaseCard .mx_BaseCard_Group>h2, .mx_UserInfo.mx_BaseCard h3{
 color: var(--accent-color-50pct) !important;
 font-weight: 600 !important;
}
.mx_RoomSublist .mx_RoomSublist_headerContainer .mx_RoomSublist_headerText .mx_RoomSublist_collapseBtn:before, .mx_ToggleSwitch_ball{
    background-color: var(--primary-color) !important;
}
 .mx_RoomTile:focus-within, .mx_RoomTile:hover, .mx_EventTile[data-shape=Notification]:hover, .mx_ForwardDialog>.mx_ForwardList .mx_ForwardList_results .mx_ForwardList_entry:hover,.mx_LegacyRoomHeader_name:hover, .mx_BaseCard .mx_BaseCard_Group .mx_BaseCard_Button:hover,.mx_RoomTile.mx_RoomTile_selected, .mx_RoomListHeader .mx_RoomListHeader_contextMenuButton:hover {
    background-color: var(--accent-15pct) !important;
}
.mx_AccessibleButton.mx_AccessibleButton_kind_link{
 color: var(--cpd-color-alpha-lime-800)  !important;
}
.mx_ProfileSettings_buttons > .mx_AccessibleButton.mx_AccessibleButton_kind_link{
 color:var(--RoomHeader-indicator-pulseColor)  !important
}
 

.mx_SpacePanel .mx_SpaceButton .mx_SpaceButton_name {
 color: var(--cpd-color-blue-400) !important;
}
 
.mx_SpacePanel .mx_SpaceButton.mx_SpaceButton_active:not(.mx_SpaceButton_narrow) .mx_SpaceButton_selectionWrapper, .mx_SpacePanel .mx_SpaceButton .mx_SpaceButton_selectionWrapper:hover{
 background-color: var(--roomlist-background-color-15pct) !important;

}

.mx_SpacePanel .mx_SpaceButton .mx_SpaceButton_menuButton:before {
background-color:var(--cpd-color-theme-bg)  !important;
}

.mx_SpacePanel .mx_SpacePanel_toggleCollapse {
background-color:var(--primary-color) !important;
}

.mx_RoomSearch:hover {
background-color:var(--roomlist-highlights-color) !important;
}

.mx_RoomSearch_spotlightTriggerText{
background-color:var(--roomlist-highlights-color) !important;
color:var(--timeline-text-secondary-color) !important;
}

.mx_RoomSearch:hover .mx_RoomSearch_spotlightTriggerText {
background-color:var(--roomlist-highlights-color) !important;
}

.mx_UserMenu .mx_UserMenu_name{
color:var(--activeBackground-color) !important;
}