[submodule "roles/discourse"]
	path = roles/discourse
	url = ../ansible-role-discourse.git
[submodule "roles/docker"]
	path = roles/docker
	url = https://git.thengo.net/ka/ansible-role-docker.git
[submodule "roles/keycloak"]
	path = roles/keycloak
	url = ../ansible-role-keycloak.git
[submodule "roles/nextcloud"]
	path = roles/nextcloud
	url = ../ansible-role-nextcloud.git
[submodule "roles/certificate"]
	path = roles/certificate
	url = https://git.thengo.net/ka/ansible-role-certificate.git
[submodule "roles/postgresql"]
	path = roles/postgresql
	url = https://git.thengo.net/ka/ansible-role-postgresql.git
[submodule "roles/php"]
	path = roles/php
	url = ../ansible-role-php.git
[submodule "roles/wordpress"]
	path = roles/wordpress
	url = ../ansible-role-wordpress.git
[submodule "roles/nginx"]
	path = roles/nginx
	url = ../ansible-role-nginx.git
[submodule "roles/mariadb"]
	path = roles/mariadb
	url = ../ansible-role-mariadb.git
[submodule "roles/postfix"]
	path = roles/postfix
	url = https://git.thengo.net/ka/ansible-role-postfix.git
[submodule "roles/postfixadmin"]
	path = roles/postfixadmin
	url = https://git.thengo.net/ka/ansible-role-postfixadmin.git
[submodule "roles/dovecot"]
	path = roles/dovecot
	url = https://git.thengo.net/ka/ansible-role-dovecot.git
[submodule "roles/opendkim"]
	path = roles/opendkim
	url = https://git.thengo.net/ka/ansible-role-opendkim.git
[submodule "roles/opendmarc"]
	path = roles/opendmarc
	url = https://git.thengo.net/ka/ansible-role-opendmarc.git
[submodule "roles/openproject"]
	path = roles/openproject
	url = ../ansible-role-openproject.git
[submodule "roles/rps-management-interface"]
	path = roles/rps-management-interface
	url = ../ansible-role-rps-management-interface.git
[submodule "roles/sync-scripts"]
	path = roles/sync-scripts
	url = ../ansible-role-sync-scripts.git
[submodule "roles/sympa"]
	path = roles/sympa
	url = ../ansible-role-sympa.git
[submodule "roles/sympa-mailinglists"]
	path = roles/sympa-mailinglists
	url = ../ansible-role-sympa-mailinglists.git
[submodule "roles/apache"]
	path = roles/apache
	url = ../ansible-role-apache.git
[submodule "roles/lxd"]
	path = roles/lxd
	url = ../ansible-role-lxd.git
