[submodule "roles/discourse"]
	path = roles/discourse
	url = ../ansible-role-discourse.git
[submodule "roles/docker"]
	path = roles/docker
	url = https://git.thengo.net/ka/ansible-role-docker.git
[submodule "roles/keycloak"]
	path = roles/keycloak
	url = ../ansible-role-keycloak.git
[submodule "roles/nextcloud"]
	path = roles/nextcloud
	url = ../ansible-role-nextcloud.git
