[submodule "roles/discourse"]
	path = roles/discourse
	url = ../ansible-role-discourse.git
[submodule "roles/docker"]
	path = roles/docker
	url = https://git.thengo.net/ka/ansible-role-docker.git
[submodule "roles/keycloak"]
	path = roles/keycloak
	url = git@gitlab.com:research-project-suite/ansible-role-keycloak.git
