[defaults]
nocows = 1
stdout_callback = yaml

interpreter_python = auto_silent

library = /usr/share/ansible/library


retry_files_enabled = False
force_handlers = True


[ssh_connection]
pipelining = True
