---
version: "3"

networks:
  proxy:
    external: true

services:
  static-header-test:
    image: nginx
    logging:
      options:
        max-size: 5m
    volumes:
      - ./html:/usr/share/nginx/html
    restart: unless-stopped
    networks:
      - proxy