{% raw %}
{{template "base/head" .}}
{% endraw %}
<h1>Hello Gitea!</h1>
This picture file is located at $GITEA_CUSTOM/public/img/logo.png
<img src="/assets/img/logo.png">
{% raw %}
{{template "base/footer" .}}
{% endraw %}