openproject/edition default
postgres/autoinstall install
postgres/db_host {{openproject_db_host}}
postgres/db_port {{openproject_db_port}}
postgres/db_name {{openproject_db_name}}
postgres/db_username {{openproject_db_user}}
postgres/db_password {{openproject_db_pass}}
server/autoinstall install

server/hostname {{openproject_server_name}}
server/server_path_prefix {{openproject_subdirectory}}
server/ssl yes
server/ssl_cert /etc/ssl/certs/{{openproject_server_name}}.cert.pem
server/ssl_key /etc/ssl/private/{{openproject_server_name}}.key.pem
server/ssl_ca /etc/ssl/certs/{{openproject_server_name}}.chain.pem
repositories/svn-install skip
repositories/git-install skip
smtp/autoinstall skip
memcached/autoinstall install

server/variant apache2
postgres/addon_version v1
