---
version: "3.4"

networks:
  proxy:
    external: true
  wordpress-internal:

services:
  wordpress:
    image: {{ wordpress_container_image }}:{{ wordpress_container_version }}
    restart: unless-stopped
    env_file: env-wordpress
    volumes:
      - wordpress:/var/www/html
      - ./wp-extra-config.php:/wp-extra-config.php
    networks:
      - proxy
      - wordpress-internal
    depends_on:
      - db
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl --fail http://127.0.0.1:80/  || exit 1",
        ]
      interval: 5s
      timeout: 10s
      retries: 3
      start_period: 5s

  db:
    image: mysql:5.7
    restart: unless-stopped
    env_file: env-mysql
    volumes:
      - db:/var/lib/mysql
    networks:
      - wordpress-internal

volumes:
  wordpress:
  db:

