// will be read by wp-config. quite sure this is not the best way to do it but otherwise wordpress was confused about the site after copying staging to prod
define( 'WP_HOME', 'https://{{ lookup('ansible.builtin.vars', 'wordpress_' + env + '_service_name') }}' );
define( 'WP_SITEURL', 'https://{{ lookup('ansible.builtin.vars', 'wordpress_' + env + '_service_name') }}' );