// will be read by wp-config. quite sure this is not the best way to do it but otherwise wordpress was confused about the site after copying draft to live
define( 'WP_HOME', 'https://{{ wordpress_service_name }}' );
define( 'WP_SITEURL', 'https://{{ wordpress_service_name }}' );
