---
version: "3"
networks:
  proxy:
    external: true

services:
  web:
    build: .
    #command: >
    #          bash -c "python rps-admin-tools/rps_admin_interface/run.py"
    #build: rps-admin-tools
    env_file:
      - production.env
    #expose:
    #  - "5000"
    ports:
    - "5000"
    networks:
      - proxy
