---
version: "3"

networks:
  proxy:
    external: true

services:

  "{{service_name}}":
    image: budibase/budibase:latest
    restart: unless-stopped
    logging:
      options:
        max-size: 5m
    networks:
      - proxy
    volumes:
      - /local/path/data:/dat