    body {
        background-color: rgb(255, 255, 200);
    }

/* style of buttons described as classes */
/* green button */
    .green_button{
        background: limegreen;
    }
    .green_button:hover{
        background: rgb(100, 255, 100);
    }
/* red button */
    .red_button{
        background: red;
    }
    .red_button:hover{
        background: rgb(255, 75, 75);
    }

button {
    cursor: pointer;
}
