project_id: {{project_id|to_json}}
project_name: rps-admin-interface

#TODO: 
discourse_enabled: false
loomio_enabled: true
loomio_server_name: dialog.netzwerk-universitaetsmedizin.de
sympa_enabled: false

services:
  accounts:
    {
      keycloak_management_client_secret: "{{rps_admin_web_interface_default_client_secret}}",
      keycloak_management_realm: "{{keycloak_management_realm|default('master')}}",
      keycloak_management_url: "https://{{keycloak_service_name}}",
      keycloak_management_client_id: "rps-admin-interface",
      keycloak_realm: "rps",
      service_type: keycloak,
      default_required_actions: ['UPDATE_PASSWORD','UPDATE_PROFILE','VERIFY_EMAIL']
    }
    
user_attributes: {{user_attributes}}
user_email_label: {{user_email_label }}
user_first_name_label: {{user_first_name_label}}
user_import_group_membership_label: {{user_import_group_membership_label}}
user_import_group_owner_label: {{user_import_group_owner_label}}
user_last_name_label: {{user_last_name_label}}
user_username_label: {{user_username_label}}
