version: "3"
networks:
  web_interface:
  proxy:
    external:
      name: proxy

volumes:
  postgres:
  logs:

services:
  db:
    image: postgres
    volumes:
      - postgres:/var/lib/postgresql/data_admin_interface
    environment:
      - POSTGRES_DB={{ rps_admin_web_interface_db_name }}
      - POSTGRES_USER={{  rps_admin_web_interface_db_user }}
      - POSTGRES_PASSWORD={{ rps_admin_web_interface_db_password }}
    networks:
      - web_interface
  web:
    build: rps-admin-tools
    command: >
              bash -c "python setup.py install && python web_interface/manage.py migrate &&
              python web_interface/manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./rps-admin-tools.json:/etc/rps-admin-web-interface/rps-admin-tools.json:ro
      - ./settings_local.py:/code/web_interface/web_interface/settings_local.py:ro
    expose:
      - "8000"
    environment:
      - POSTGRES_NAME={{ rps_admin_web_interface_db_name }}
      - POSTGRES_USER={{  rps_admin_web_interface_db_user }}
      - POSTGRES_PASSWORD={{ rps_admin_web_interface_db_password }}
      - DJANGO_SETTINGS_MODULE=web_interface.settings_local
    networks:
      - web_interface
      - proxy
    depends_on:
      - db