SQLPAD_ADMIN="{{sqlpad_ADMIN}}"
SQLPAD_ADMIN_PASSWORD="{{sqlpad_ADMIN_PASSWORD}}"

{% if bookstack_with_sqlpad %}
SQLPAD_CONNECTIONS__bookstack__name="Bookstack"
SQLPAD_CONNECTIONS__bookstack__driver=mysql
SQLPAD_CONNECTIONS__bookstack__host="{{ bookstack_service_name|replace('.', '') }}_db_1"
SQLPAD_CONNECTIONS__bookstack__database=bookstack
SQLPAD_CONNECTIONS__bookstack__username=bookstack
SQLPAD_CONNECTIONS__bookstack__password="{{ ansible_local[bookstack_service_name].bookstack_db_password | default('')}}"
{% endif %}

{% if discourse_with_sqlpad %}
SQLPAD_CONNECTIONS__discourse__name="Discourse"
SQLPAD_CONNECTIONS__discourse__driver=postgres
SQLPAD_CONNECTIONS__discourse__host="{{ discourse_service_name|replace('.', '') }}_postgres_1"
SQLPAD_CONNECTIONS__discourse__database=discourse
SQLPAD_CONNECTIONS__discourse__username=discourse
SQLPAD_CONNECTIONS__discourse__password="{{ ansible_local[discourse_service_name].discourse_postgres_password | default('')}}"
{% endif %}

{% if matrix_with_sqlpad %}
SQLPAD_CONNECTIONS__matrix__name="Matrix Synapse"
SQLPAD_CONNECTIONS__matrix__driver=postgres
SQLPAD_CONNECTIONS__matrix__host="{{ matrix_synapse_service_name|replace('.', '') }}_postgres_1"
SQLPAD_CONNECTIONS__matrix__database=synapse
SQLPAD_CONNECTIONS__matrix__username=synapse
SQLPAD_CONNECTIONS__matrix__password="{{ ansible_local[matrix_synapse_service_name].matrix_synapse_postgres_password | default('')}}"
{% endif %}

{% if nextcloud_with_sqlpad %}
SQLPAD_CONNECTIONS__nextcloud__name="Nextcloud"
SQLPAD_CONNECTIONS__nextcloud__driver=postgres
SQLPAD_CONNECTIONS__nextcloud__host="{{ nextcloud_service_name|replace('.', '') }}_postgres_1"
SQLPAD_CONNECTIONS__nextcloud__database=nextcloud
SQLPAD_CONNECTIONS__nextcloud__username=nextcloud
SQLPAD_CONNECTIONS__nextcloud__password="{{ ansible_local[nextcloud_service_name].nextcloud_postgres_password | default('')}}"
{% endif %}
