<div class="form-group ${messagesPerField.printIfExists('lastName','has-error')}">
    <div class="col-sm-2 col-md-2">
        <label for="lastName" class="control-label">${msg("lastName")}</label> <span class="required">*</span>
    </div>

    <div class="col-sm-10 col-md-10">
        <input type="text" class="form-control" id="lastName" name="lastName" value="${(account.lastName!'')}"/>
    </div>
</div>