{{ansible_managed|comment}}

{# this generates environment variables from the gitea_config_tree in vars/main.yaml #}
{% for k,v in gitea_config_tree.pop('DEFAULT').items() %}
{{k}}={{v}}
{% endfor %}
{% for section,leg in gitea_config_tree.items() %}
{% for k,v in leg.items() %}
{{('GITEA__'+section+'__'+k)}}={{v}}
{% endfor %}
{% endfor %}
