{{ansible_managed|comment}}

# general
OAUTH2_PROXY_HTTP_ADDRESS=:4180
OAUTH2_PROXY_SKIP_PROVIDER_BUTTON=true

# cookie
OAUTH2_PROXY_COOKIE_NAME=_rps_gitea_oauth2_proxy
OAUTH2_PROXY_COOKIE_SECRET={{gitea_oauth2_proxy_cookie_secret}}
OAUTH2_PROXY_SESSION_STORE_TYPE=redis
OAUTH2_PROXY_REDIS_CONNECTION_URL=redis://:{{gitea_oauth2_proxy_redis_pass}}@oauth2-proxy-redis:6379/0
OAUTH2_PROXY_REDIS_CONNECTION_TIMEOUT=14

# provider (keycloak-oidc is the only option for now)
OAUTH2_PROXY_PROVIDER=keycloak-oidc

# keycloak
OAUTH2_PROXY_CLIENT_ID={{ gitea_keycloak_client_id }}
OAUTH2_PROXY_CLIENT_SECRET={{ gitea_keycloak_client_secret }}
OAUTH2_PROXY_REDIRECT_URL=https://{{ gitea_service_name }}/oauth2/callback
OAUTH2_PROXY_OIDC_ISSUER_URL={{ gitea_keycloak_client_realm_url }}
OAUTH2_PROXY_SCOPE="openid email profile roles" 

# authorization
OAUTH2_PROXY_EMAIL_DOMAINS={{gitea_oauth2_proxy_email_domains}}
OAUTH2_PROXY_ALLOWED_ROLES={{gitea_oauth2_proxy_allowed_roles|join(",")}}

# upstream
OAUTH2_PROXY_UPSTREAMS=http://gitea:{{gitea_http_port}}

# logging
OAUTH2_PROXY_REQUEST_LOGGING={{gitea_oauth2_proxy_request_logging|bool|lower}}

# allow redirect to all our domains
OAUTH2_PROXY_WHITELIST_DOMAINS={{ gitea_service_name }}

# skip public access
OAUTH2_PROXY_SKIP_AUTH_ROUTES={{gitea_oauth2_proxy_skip_auth_routes|join(",")}}
OAUTH2_PROXY_PASS_AUTHORIZATION_HEADER=false
