---
version: "3"

networks:
  {{project_name}}:
    external: true
  proxy:
    external: true


services:

  wiki-bookstack:
    container_name: {{project_name}}_app
    image: lscr.io/linuxserver/bookstack
    restart: unless-stopped
    logging:
      options:
        max-size: 5m
    networks:
      - proxy
      - {{project_name}}
    env_file: 
      - "./env-bookstack"
    volumes:
      - ./db-data:/config
    depends_on:
      - {{project_name}}_db


  {{project_name}}_db:
    container_name: {{project_name}}_db
    image: lscr.io/linuxserver/mariadb
    restart: unless-stopped
    logging:
      options:
        max-size: 5m
    networks:
      - {{project_name}}
    env_file: 
      - "./env-db"
    volumes:
      - ./db-data:/config
