---
version: "3"

networks:
  {{project_name}}:
    external: true
  proxy:
    external: true


services:

  wiki-bookstack:
    container_name: {{project_name}}_app
    image: lscr.io/linuxserver/bookstack
    restart: unless-stopped
    logging:
      options:
        max-size: 5m
    ports:
      - 6875:80
    networks:
      # - proxy
      - {{project_name}}
    env_file: 
      - "./env"
    volumes:
      - ./db-data:/config
    depends_on:
      - {{project_name}}_db


  {{project_name}}_db:
    container_name: {{project_name}}_db
    image: lscr.io/linuxserver/mariadb
    restart: unless-stopped
    logging:
      options:
        max-size: 5m
    networks:
      - {{project_name}}
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
      - MYSQL_DATABASE={{wiki_DB_DATABASE}}
      - MYSQL_USER={{wiki_DB_USER}}
      - MYSQL_PASSWORD={{wiki_DB_PASS}}
      - MYSQL_ROOT_PASSWORD={{wiki_DB_PASS}}
    volumes:
      - ./db-data:/config
