---
version: "3"

networks:
  proxy:
    external: true
  internal:

services:
  discourse_sync:
    image: {{ discourse_sync_container_image }}:{{ discourse_sync_container_version }}
    restart: unless-stopped
    networks:
      - proxy
    profiles:
      - sync
    entrypoint: ''
    env_file: env
    command: /opt/rps-admin-tools/command_loop.sh sync discourse --verbose