---
version: "3"

networks:
  proxy:
    external: true

services:
  style:
    build:
        context: .
        dockerfile: Dockerfile
    restart: unless-stopped
    logging:
      options:
        max-size: 5m
    networks:
      - proxy

