<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<title>Wartungsarbeiten | Maintenance</title>
	<link rel="icon" type="image/png" href="{{ maintenance_icon_src }}"/>
	<link rel="stylesheet" href="{{ maintenance_css_src }}">
</head>

<body>
	<div class="special-font" id="Horizontal_Segments" style="position: relative; overflow: hidden;">
		<div id="Left_Logo" style="position: relative; width: 20%; float: left;">
			<center>
				<img width="100%" src="{{ maintenance_logo_src }}">
			</center>
		</div>
		<div id="Right_Text" style="position: relative; width: 60%; float: left;">
			<center>
				<h1>Wartungsarbeiten</h1>
				<p>Wir bitten um Entschuldigung, diese Webseite ist momentan wegen Wartungsarbeiten nicht erreichbar.<br>
				Bitte versuchen Sie es später noch einmal.</p>
				<button class="btn-rps-primary" onClick="window.location.reload();">Neu laden</button>

				<h1>Maintenance</h1>
				<p>Sorry, this website is currently unavailable due to maintenance.<br>
				Please try again later.</p>
				<button class="btn-rps-primary" onClick="window.location.reload();">Reload Page</button>
			</center>
		</div>
		<div id="Right_Empty" style="position: relative; width: 20%; float: right;">
		</div>	
	</div>
</body>
</html>
