MYSQL_DATABASE={{bookstack_db_database}}
MYSQL_USER={{bookstack_db_user}}
MYSQL_PASSWORD={{bookstack_db_password}}
MYSQL_ROOT_PASSWORD={{bookstack_db_root_password}}
PUID=1000
PGID=1000
TZ=Europe/Berlin
