#!/bin/bash
set -e

psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
	CREATE USER "$POSTGRES_NEXTCLOUD_USER" WITH LOGIN ENCRYPTED PASSWORD '$POSTGRES_NEXTCLOUD_PASSWORD';
	CREATE DATABASE nextcloud TEMPLATE template0 ENCODING 'UNICODE';
	ALTER DATABASE nextcloud OWNER TO nextcloud;
	GRANT ALL PRIVILEGES ON DATABASE nextcloud TO nextcloud;
	GRANT USAGE, SELECT ON ALL SEQUENCES IN SCHEMA public TO nextcloud;


	ALTER ROLE postgres WITH PASSWORD NULL;

EOSQL
