---
version: "3"

networks:
  proxy:
    external: true
  nextcloud-internal:

volumes:
  postgres:
  nextcloud:
  nextcloud-data:

services:
  nextcloud_sync:
    image: {{ nextcloud_sync_container_image }}:{{ nextcloud_sync_container_version }}
    restart: unless-stopped
    networks:
      - nextcloud-internal
      - proxy
    profiles:
      - full
      - only-rps-sync
    volumes:
      - ./config.yaml:/opt/rps-admin-tools/config.yaml:ro
    entrypoint: ''
    environment:
      - SLEEP_MINUTES=5
    command: /opt/rps-admin-tools/command_loop.sh -c /opt/rps-admin-tools/config.yaml sync nextcloud --verbose
        
  nextcloud:
    image: nextcloud:{{ nextcloud_version }}
    profiles:
      - full
      - only-nextcloud
    restart: unless-stopped
    logging:
      options:
        max-size: 5m
    restart: unless-stopped
    # ports:
    #   - 8080:80
    networks:
      - proxy
      - nextcloud-internal
    depends_on:
      - postgres
    volumes:
      - nextcloud:/var/www/html
      - nextcloud-data:/srv/nextcloud/data
      - ./skel:/srv/nextcloud/skel:ro
      - ./themes:/srv/nextcloud/themes:ro
    env_file:
      - "./env"

  postgres:
    image: postgres:15.1
    profiles:
      - full
      - only-nextcloud
    restart: unless-stopped
    logging:
      options:
        max-size: 5m
    networks:
      - nextcloud-internal
    volumes:
      - postgres:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d:ro
    environment:
      - POSTGRES_DB={{nextcloud_postgres_database}}
      - POSTGRES_USER={{nextcloud_postgres_user}}
      - POSTGRES_PASSWORD={{nextcloud_postgres_password}}
