---
version: "3"

networks:
  sync:

services:

  nextcloud:
    networks:
      - sync

  sync:
    image: {{ nextcloud_sync_container_image }}:{{ nextcloud_sync_container_version }}
    restart: unless-stopped
    networks:
      - sync
    profiles:
      - default
      - full
      - only-rps-sync
    entrypoint: ''
    env_file: nextcloud-sync.env
    command: /opt/rps-admin-tools/command_loop.sh sync nextcloud --verbose
