---
version: "3"

networks:
  proxy:
    external: true
  nextcloud-internal:

volumes:
  postgres:
  nextcloud:
  nextcloud-data:

services:
{% if nextcloud_with_sync %}
  nextcloud_sync:
    image: {{ nextcloud_sync_container_image }}:{{ nextcloud_sync_container_version }}
    restart: unless-stopped
    networks:
      - nextcloud-internal
      - proxy
    profiles:
      - full
      - only-rps-sync
    entrypoint: ''
    env_file: nextcloud-sync-env
    command: /opt/rps-admin-tools/command_loop.sh sync nextcloud --verbose
{% endif %}

  nextcloud:
    image: nextcloud:{{ nextcloud_version }}
    profiles:
      - full
      - only-nextcloud
    restart: unless-stopped
    logging:
      options:
        max-size: 5m
    restart: unless-stopped
    # ports:
    #   - 8080:80
    networks:
      - proxy
      - nextcloud-internal
    depends_on:
      - postgres
    volumes:
      - nextcloud:/var/www/html
      - nextcloud-data:/srv/nextcloud/data
      - ./skel:/srv/nextcloud/skel:ro
      - ./themes:/srv/nextcloud/themes:ro
{% if nextcloud_with_cron %}
      - ./cron.d:/var/spool/cron:rw
{% endif %}  
{% if nextcloud_with_header_injection %}
      - {{remote_path}}/rps-nextcloud-header-injection/patches/:/srv/header-patches/:ro
{% endif %}
    env_file:
      - "./env"

  postgres:
    image: postgres:15.1
    profiles:
      - full
      - only-nextcloud
    restart: unless-stopped
    logging:
      options:
        max-size: 5m
    networks:
      - nextcloud-internal
    volumes:
      - postgres:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d:ro
    env_file: postgres.env
