{{ ansible_managed | comment }}

SLEEP_MINUTES=1

DEBUG="false"

KEYCLOAK_URL=https://{{keycloak_service_name}}
KEYCLOAK_REALM={{nextcloud_keycloak_client_realm}}
KEYCLOAK_SECRET={{nextcloud_keycloak_client_secret}}
KEYCLOAK_CLIENT_ID={{nextcloud_keycloak_client_client_id}}

NEXTCLOUD_ADMIN_PASS={{nextcloud_admin_app_password}}
NEXTCLOUD_ADMIN_USER={{nextcloud_admin_user}}
NEXTCLOUD_SERVER_NAME={{nextcloud_service_name}}

NEXTCLOUD_URL="http://nextcloud"

SYNC_IGNORE_GROUPS=["admin"]
SYNC_IGNORE_USERS=["admin"]
