---
version: '3'

networks:
  default:
  proxy:
    external: true

services:

  website:
    image: "{{ website_oci_image }}"
    restart: unless-stopped
{% if not website_with_auth %}
    networks:
        - proxy
{% endif %}
{% if website_git_repo is defined %}
    volumes:
        - ./repo:/var/www/html"
{% endif %}
{% if website_with_watchtower %}
    labels:
        - "com.centurylinklabs.watchtower.enable=true"  
{% endif %}

{% if website_with_auth %}
# Auth
  oauth2-proxy:
    image: {{ website_auth_oauth2_proxy_oci_image | to_json }}
    env_file: oauth2-proxy.env
    networks:
      - default
      - proxy
    depends_on:
    - website
    - whoami
{#
    # - oauth2-proxy-cache
  # oauth2-proxy-cache:
  #   image: redis:6.2-alpine
  #   restart: always
  #   command: redis-server --save 20 1 --loglevel warning --requirepass $OAUTH2_PROXY_REDIS_PASSWORD
  #   volumes: 
  #     - oauth2-proxy-cache:/data
#}
  whoami:
    image: docker.io/traefik/whoami:v1.9
{% endif %}
