---
version: '3'

networks:
    proxy:
        external: true

services:
    website:
        image: "{{ website_oci_image }}"
        restart: unless-stopped
        networks:
            - proxy
{% if website_git_repo is defined %}
        volumes:
            - ./repo:/var/www/html"
{% endif %}
{% if website_with_watchtower %}
        labels:
            - "com.centurylinklabs.watchtower.enable=true"  
{% endif %}
