---
version: "3.4"

networks:
  proxy:
    external: true
  keycloak-internal:

volumes:
  postgres:

services:
  keycloak_sync:
    image: {{ keycloak_sync_container_image }}:{{ keycloak_sync_container_version }}
    restart: unless-stopped
    networks:
      - keycloak-internal
      - proxy
    #profiles:
    #  - full
    #  - only-rps-sync
    volumes:
      - ./config.yaml:/opt/rps-admin-tools/config.yaml:ro
    entrypoint: ''
    environment:
      - SLEEP_MINUTES=1
    command: /opt/rps-admin-tools/command_loop.sh -c /opt/rps-admin-tools/config.yaml sync permissions
    # --verbose broken because of click_cli and the use of colours in the output, starting without it
  
  keycloak-registration-email-sync:
    image: {{keycloak_sync_container_image}}:{{keycloak_sync_container_version}}
    restart: unless-stopped
    networks:
      - proxy
    volumes:
      - ./config_registration.yaml:/opt/rps-admin-tools/config.yaml:ro
    entrypoint: ''
    environment:
      - SLEEP_MINUTES=5
    command: /opt/rps-admin-tools/command_loop.sh -c /opt/rps-admin-tools/config.yaml sync registration --verbose
   
  keycloak:
    image: {{ keycloak_container_image }}:{{ keycloak_container_version }}
    restart: unless-stopped
    env_file: env-keycloak
    command:
      - start
    volumes:
      - ./themes:/opt/keycloak/themes
      - ./tmp:/opt/keycloak/tmp
      - ./import:/opt/keycloak/data/import:ro
      - ./export:/opt/keycloak/data/export
    # healthcheck:
    #   test:
    #     [
    #       "CMD-SHELL",
    #       "curl --fail http://127.0.0.1:8080/health/live || exit 1",
    #     ]
    #   interval: 5s
    #   timeout: 10s
    #   retries: 3
    #   start_period: 1m
    networks:
      - proxy
      - keycloak-internal

  postgres:
    image: postgres:15.1
    restart: unless-stopped
    volumes:
      - postgres:/var/lib/postgresql/data
    env_file: env-postgres
    networks:
      - keycloak-internal
