
# ---------------- #
# Alerta dashboard #
ADMIN_EMAIL="{{ rps_admin_email }}"
# Comma-separated list. Creates an additional custom admin-scope API key
ADMIN_KEY="{{alerta_admin_api_key}}"
# Comma-separated list. Default for all: alerta    
ADMIN_PASSWORD="{{alerta_admin_password}}"
# Comma-separated list
ADMIN_USERS="admin"
# Used in alerta.conf.j2 to perform actions via terminal
ALERTA_API_KEY="{{alerta_admin_api_key_cli}}"
# Used in alertad.conf.j2 to encode tokens and API keys
SECRET_KEY="{{alerta_secret_key}}"
# If True, a 'Housekeeping' API Key with admin-scope is generated
AUTH_REQUIRED="True"
DATABASE_NAME="{{POSTGRES_DB}}"
DATABASE_URL="postgres://{{POSTGRES_USER}}:{{alerta_postgres_password}}@db:5432/{{POSTGRES_DB}}"
# Uncomment this line to turn debug on. ANY non-empty value makes debug on.
# DEBUG="1"
# Used in supervisord.conf.j2 # default: "major"
# HEARTBEAT_SEVERITY="major"
# Not necessary but can be customised. Requires change in other places, too. Default: "/app"
# HOME="/app"
# Not necessary but can be customised. Requires change in other places, too. Default: "/app/alerta.conf"
# ALERTA_CONF_FILE="/app/alerta.conf"
# Not necessary but can be customised. Requires change in other places, too. Default: "/app/alertad.conf"
# ALERTA_SVR_CONF_FILE="/app/alertad.conf"
ALERTA_WEB_CONF_FILE="/web/config.json"
# Used in alerta.conf.j2. Default: "Europe/London"
TIMEZONE="Europe/Berlin" 
# Comma-separated list. Used in alertad.conf.j2 
PLUGINS="reject,blackout,normalise,enhance,matrix"
# Comma-separated list. Used in alertad.conf.j2 
ALLOWED_ENVIRONMENTS="Production,Development,Testing"
# ---------------- #
