<!DOCTYPE html>

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {{title}}
        </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        {% block body %}
        {% endblock %}
        <br>---------------------------<br>
        <button class="red_button" onclick="history.go(-1)">Back</button>
        <button class="red_button" onclick="location.href='/'">Main</button>
    </body>

</html>