{% extends 'base.html' %}
{% block body %}
    <h1>This is a Flask App </h1>
    <h3>containerised with Docker running under Traefik reverse proxy</h3>
    This is a returned value for a given key from a given dict: {{var1_dict.key1}}.
    <br>
    <button class="green_button" onclick="location.href='/navigation'">RPS Navigation</button>
    <br>
    ---------------------------
    <br>
    <button class="green_button" onclick="location.href='/new'">new</button>
    <button class="green_button" onclick="location.href='/users'">users</button>
    <!-- <button class="green_button">Add</button> -->
    <form action="/index" METHOD="POST">
        <input type="submit" value="Add value" class="green_button">
    </form>
    <button class="red_button">Remove</button>
{% endblock %}