production:
  adapter: postgresql
  database: {{ openproject_database_name }}
  host: {{ openproject_database_host }}
  username: {{ openproject_database_user }}
  password: {{ openproject_database_pass }}
  encoding: unicode
  pool: 5

development:
  adapter: postgresql
  database: {{ openproject_database_name }}
  host: {{ openproject_database_host }}
  username: {{ openproject_database_user }}
  password: {{ openproject_database_pass }}
  encoding: unicode
  pool: 5
