{{ansible_managed|comment}}

parent={{keycloak_theme}}
#import=common/keycloak

#styles=node_modules/patternfly/dist/css/patternfly.min.css node_modules/patternfly/dist/css/patternfly-additions.min.css lib/zocial/zocial.css assets/mystyle.css
#scripts=assets/register.js