---
version: "3.4"

networks:
  {{ keycloak_mail_sender_docker_network }}:
    external: true

services:  
  keycloak-mail-sender:
    image: {{keycloak_mail_sender_container_image}}:{{keycloak_mail_sender_container_image_version}}
    restart: unless-stopped
    networks:
      - {{ keycloak_mail_sender_docker_network }}
    env_file: env
    command: /opt/rps-admin-tools/command_loop.sh sync keycloak-mail-sender --verbose
