---
version: "3"

networks:
  wiki-internal:
  proxy:
    external: true

volumes:
  db:

services:

  wiki:
    image: ghcr.io/requarks/wiki:2
    restart: unless-stopped
    logging:
      options:
        max-size: 5m
    networks:
      - proxy
      - wiki-internal
    env_file:
      - "./env"
    depends_on:
      - db
  
  
  db:
    image: postgres:11-alpine
    restart: unless-stopped
    logging:
      options:
        max-size: 5m
    networks:
      - wiki-internal
    environment:
      - POSTGRES_DB={{wiki_js_DB_NAME}}
      - POSTGRES_PASSWORD={{wiki_js_database_password}}
      - POSTGRES_USER={{wiki_js_DB_USER}}
    volumes:
      - db:/var/lib/postgresql/data
