---
version: "3"

networks:
  {{project_name}}:
    external: true
  proxy:
    external: true

services:

  {{project_name}}_app:
    container_name: {{project_name}}_app
    image: ghcr.io/requarks/wiki:2
    logging:
      options:
        max-size: 5m
    restart: unless-stopped
    # ports:
    #   - "80:3000"
    networks:
      - proxy
      - {{project_name}}
    env_file: 
      - "./env"
    depends_on:
      - {{project_name}}_db


  {{project_name}}_db:
    container_name: {{project_name}}_db
    image: postgres:11-alpine
    environment:
      - POSTGRES_DB="wiki"
      - POSTGRES_USER="wikijs"
      - POSTGRES_PASSWORD="wikijsrocks"
    logging:
      options:
        max-size: 5m
    restart: unless-stopped
    expose:
      - "5432"
    networks:
      - {{project_name}}
    volumes:
      - ./db-data:/var/lib/postgresql/data


# volumes:
#   db-data:
