[Unit]
Description=oauth2-proxy daemon service
After=syslog.target network.target

[Service]
User=www-data
Group=www-data

ExecStart=/usr/local/bin/oauth2-proxy
ExecReload=/bin/kill -HUP $MAINPID

KillMode=process
Restart=always

EnvironmentFile=/etc/oauth2-proxy/%i.env

[Install]
WantedBy=multi-user.target