version: "3"

networks:
  proxy:
    external:
      name: proxy

services:

  app:
    # image: {{ matrix_sync_container_image }}:{{ matrix_sync_container_version }}
    build:
      context: https://github.com/Awesome-Technologies/synapse-admin.git
    restart: unless-stopped
    logging:
      options:
        max-size: 5m
    networks:
      - proxy
