{{ ansible_managed | comment }}

DEBUG="false"

USER_FIRST_NAME_LABEL={{ rps_admin_interface_user_first_name_label }}
USER_LAST_NAME_LABEL={{ rps_admin_interface_user_last_name_label }}
USER_USERNAME_LABEL={{ rps_admin_interface_user_username_label }}
USER_EMAIL_LABEL={{ rps_admin_interface_user_email_label }}
USER_IMPORT_ROLES_LABEL={{ rps_admin_interface_user_import_roles_label }}
USER_IMPORT_GROUPS_LABEL={{ rps_admin_interface_user_import_groups_label }}

KEYCLOAK_URL=https://{{keycloak_service_name}}
KEYCLOAK_REALM={{discourse_keycloak_client_realm}}
KEYCLOAK_SECRET={{discourse_keycloak_client_secret}}
KEYCLOAK_CLIENT_ID={{ discourse_keycloak_client_client_id }}
KEYCLOAK_REQUIRED_ACTIONS={{ keycloak_required_user_actions | to_json }}

DISCOURSE_URL="https://{{ discourse_service_name }}"
DISCOURSE_USERNAME={{discourse_sync_username}}
DISCOURSE_API_KEY={{ discourse_sync_api_key }}

SYNC_IGNORE_GROUPS=["admin"]
SYNC_IGNORE_USERS=["admin"]
SLEEP_MINUTES=1
