---
version: "3"

networks:
  discourse_sync:

services:

  web:
    networks:
      - discourse_sync

  discourse_sync:
    image: {{ discourse_sync_container_image }}:{{ discourse_sync_container_version }}
    restart: unless-stopped
    networks:
      - discourse-sync
    profiles:
      - default
      - full
      - only-rps-sync
    entrypoint: ''
    env_file: discourse-sync.env
    command: /opt/rps-admin-tools/command_loop.sh sync discourse --verbose