templates:
  - "templates/postgres.template.yml"

docker_args:
  - '--network {{discourse_service_name|replace('.', '')}}'

params:
  db_default_text_search_config: "{{discourse_postgres_db_default_text_search_config}}"

  ## Set db_shared_buffers to a max of 25% of the total memory.
  ## will be set automatically by bootstrap based on detected RAM, or you can override
  #db_shared_buffers: {#"{{(virt_memory/4)|round|int}}MB" #}

  ## can improve sorting performance, but adds memory usage per-connection
  #db_work_mem: "40MB"

env:
  LANG: en_US.UTF-8

volumes:
  - volume:
        host: {{discourse_target_directory}}/shared/db
        guest: /shared
  - volume:
        host: {{discourse_target_directory}}/shared/db/log/var-log
        guest: /var/log

hooks:
  after_postgres:
    - exec:
        stdin: |
          alter user discourse with password '{{discourse_database_password}}';
        cmd: su - postgres -c 'psql discourse'

        raise_on_fail: false
