templates:
  - "templates/redis.template.yml"

docker_args:
  - '--network discourse'

env:
  LANG: en_US.UTF-8

volumes:
  - volume:
        host: {{discourse_target_directory}}/shared/redis
        guest: /shared
  - volume:
        host: {{discourse_target_directory}}/shared/redis/log/var-log
        guest: /var/log
