{{ansible_managed|comment}}

LANG=en_US.UTF-8
RAILS_ENV=production

# reads the env variables from the web.yaml.j2 file and prints them out in the format of key=value
{% set env = (lookup('template', 'web.yaml.j2') | from_yaml)['env'] %}
{% for k,v in env.items() %}
{{k}}={{v}}
{% endfor %}
