---
version: "3"

networks:
  {{ traefik_proxy_network }}:
    external: true

services:
  traefik:
    image: traefik:v2.8
    container_name: traefik
    restart: unless-stopped #"{{traefik_copy_static_config_task.changed}}"
    logging:
      options:
        max-size: 5m
    networks:
      - {{ traefik_proxy_network }}
    ports:
      - 80:80
      - 443:443
    volumes:
      - "/opt/traefik:/etc/traefik:ro"
      # ||| Please do not change the folder in the line below to an external volume
      # vvv 
      - "/srv/ssl-certs:/ssl-certs/"
  whoami:
    image: traefik/whoami:v1.9
    container_name: whoami
    restart: unless-stopped
    networks:
      - {{ traefik_proxy_network }}
