http:
    routers:
{% for redirect in redirects %}
        {{ 'redirect-' + redirect.host + '-' + redirect.path | replace('/', '-') }}:
            rule: "Host(`{{ redirect.host }}`) && Path(`{{ redirect.path }}`)"
            middlewares: ["{{ 'redirect-' + redirect.host + '-' + redirect.path | replace('/', '-') }}"]
            entrypoints: websecure
            tls:
                certresolver: letsencrypt
            service: noop@internal
{% endfor %} 
    middlewares:
{% for redirect in redirects %}
        {{ 'redirect-' + redirect.host + '-' + redirect.path | replace('/', '-') }}:
            redirectRegex:
                regex: '.*'
                replacement: {{ redirect.target | to_json }}
{% endfor %}
