<#if passwordRequired??>
<div class="${properties.kcFormGroupClass!} ${messagesPerField.printIfExists('password',properties.kcFormGroupErrorClass!)}">
  <div class="${properties.kcLabelWrapperClass!}">
    <label for="password" class="${properties.kcLabelClass!}">${msg("password")}</label> <sub>*</sub>
    {%if 'description' in field %}<p>{{field.description}}</p>{% endif %}
  </div>
  <div class="${properties.kcInputWrapperClass!}">
    <input type="password" id="password" class="${properties.kcInputClass!}" name="password" autocomplete="new-password"/>
  </div>
</div>
<div class="${properties.kcFormGroupClass!} ${messagesPerField.printIfExists('password-confirm',properties.kcFormGroupErrorClass!)}">
  <div class="${properties.kcInputWrapperClass!}">${msg("passwordConfirm")} <sub>*</sub>
    <input type="password" id="password-confirm" class="${properties.kcInputClass!}" name="password-confirm" />
  </div>
</div>
</#if>
