keycloak_authz_client: "realm-management"
keycloak_decision_strategy: "AFFIRMATIVE"
keycloak_policy_enforcement_mode: "ENFORCING"


project_id: {{rps_admin_interface_keycloak_realm}}
project_name: rps-admin-interface
rps_header_url: {{rps_header_js_url}}

keycloak_url: "https://{{keycloak_service_name}}"
keycloak_realm: "{{rps_admin_interface_keycloak_realm}}"
keycloak_secret: "{{keycloak_approval_email_sender_keycloak_client_secret}}"
keycloak_client_id: "{{keycloak_approval_email_sender_keycloak_client_client_id}}"
keycloak_required_actions: ['UPDATE_PASSWORD','UPDATE_PROFILE','VERIFY_EMAIL']

user_attributes: {{user_attributes}}
user_email_label: {{user_email_label }}
user_first_name_label: {{user_first_name_label}}
user_import_group_membership_label: {{user_import_group_membership_label}}
user_import_group_owner_label: {{user_import_group_owner_label}}
user_last_name_label: {{user_last_name_label}}
user_username_label: {{user_username_label}}
