---
version: "3"

networks:
  proxy:
    external: true

services:
  app:
    image: collabora/code:{{collabora_version}}
    restart: unless-stopped
    logging:
      options:
        max-size: 5m
    networks:
      - proxy
    env_file: 
      - "./env"
    cap_add:
      - MKNOD
