---
version: '3'

networks:
    proxy:
        external: true

services:
    web:
        image: {{rps_groups_interface_container_image}}:{{rps_groups_interface_container_version}}
        volumes:
            - ./suite.config.json:/opt/rps-groups-interface/dist/config.json
        networks:
            - proxy
